// .p-menubar-end {
//   display: flex !important;
//   flex-direction: row !important;
//   align-items: center !important;
//   gap: 1.5rem !important; /* gap-6 */
// }
.p-menubar {
  border: none;
  background: transparent;
  padding: 0px;
}

::ng-deep .p-menu {
    background-color: #2a3042;
}

.notificationMenu {
  left: auto !important;
  right: 200px !important; // Adjust as needed for your layout
  min-width: 350px;
  max-width: 400px;
}
