// .p-menubar-end {
//   display: flex !important;
//   flex-direction: row !important;
//   align-items: center !important;
//   gap: 1.5rem !important; /* gap-6 */
// }
.p-menubar {
    border: none;
    background: transparent;
    padding: 0px;
}