.side-menu {
  background: linear-gradient(90deg, rgb(36, 36, 36) 100%, rgb(24, 24, 24) 100%);
  width: 240px;
  z-index: 1001;
  //   background: #ffffff;
  bottom: 15px;
  left: 15px;
  margin-top: 0;
  position: fixed;
  top: 70px;
  box-shadow: 0 0.75rem 1.5rem #12263f08;
  border-radius: 10px;
}

:host ::ng-deep .side-menu-items {
  gap: 0;
  .p-panelmenu {
  }
  .p-panelmenu-item {
  }

  .p-panelmenu-panel {
    background-color: transparent;
    padding: 0px;
    gap: none;
    border-radius: 0px;
    border: none;
  }
  .p-panelmenu-header-link,
  .p-panelmenu-item-link {
    color: #cacaca;
    svg {
      order: 2; /* move arrow to end */
      margin-left: auto; /* push it right */
      margin-right: 0 !important;
    }
    .p-panelmenu-header-icon,
    .p-panelmenu-item-icon {
      color: #cacaca;
      fill: #cacaca;
    }
  }

  .p-panelmenu-header-content,
  .p-panelmenu-item-content {
    border-radius: 0px;
    &:hover,
    &:focus,
    &:active {
      background-color: #2d2d2d;
      color: #cacaca;
      .p-panelmenu-header-icon,
      .p-panelmenu-item-icon {
        color: #cacaca;
        fill: #cacaca;
      }
    }
  }
}
